<?xml version="1.0" encoding="UTF-8"?>
<xml>
    <groupsby>
        <groupby posicion='0' class='normalr'>
            TOTAL           
        </groupby>
        <groupby posicion='1' class='normalr'>
            Actividad           
        </groupby>
        <groupby posicion='2' class='normalr'>
            Descripcion           
        </groupby>
        <groupby posicion='3' class='normalr'>
            Fecha           
        </groupby>
    </groupsby>
    <sumatorios>
        <sumatorio  posicion='8'>
            vendidas_funciones
        </sumatorio>
        <sumatorio  posicion='9'>
            ingresos_funciones
        </sumatorio>
        <sumatorio  posicion='10'>
            inv_funciones
        </sumatorio>
        <sumatorio  posicion='11'>
            val_inv
        </sumatorio>
        <sumatorio  posicion='12'>
            ventas_abono
        </sumatorio>
        <sumatorio  posicion='13'>
            ingresos_abono
        </sumatorio>
        <sumatorio  posicion='14'>
            inv_abono
        </sumatorio>
        
        <sumatorio  posicion='15'>
            val_inv_abono
        </sumatorio>
        
        
    </sumatorios>
    
</xml>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


